<%= render 'layouts/public_header' %>
ブランド一覧
<teble>
  <tbody>
    <% @brands.each do |brand| %>
    <tr>
    <%= link_to brand_path(brand) do %>
      <td><%= brand.name %></td>
    <% end %>
    </tr>
    <% end %>
  </tbody>
</teble>