ブランド詳細
<%= @brand.name %>

<table>
  <tbody>
    <% @brand_items.each do |brand_item| %>
      <tr>
        <td>
          <%= link_to item_path(item) do %>
           <%= attachment_image_tag brand.item, :item_image, format: 'jpeg', fallback: "no_image.jpg", size: "60x60" %>
          <% end %>
        </td>
        <td>
          <%= brand.item.name %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>