<%= render 'layouts/public_header' %>
<div class="container">
  <div class="row mt-3 mb-2">
    <h4></h4><%= @brand.name %>
  </div>

  <div class="row mt-3">
    <table class='table table-hover table-inverse'>
      <tbody>
        <%= render 'public/brands/detail',obj:@brand ,item:@item %>
      </tbody>
    </table>
  </div>
</div>