<%= render 'layouts/admin_header' %>
ブランド一覧
<p id="notice"></p>
<%= render 'layouts/errors' ,obj:@brand %>
<%= link_to "ブランド登録",new_admin_brand_path %>
<teble>
  <%= render 'admin/brands/index',brands: @brands %>
</teble>