<%= render 'layouts/public_header' %>
<div class="container mt-5 col-sm-8">
  <div class="row">
    <table class='table table-hover table-inverse'>
      <% @categories.each do |category| %>
        <tr>
           <td>
          <%= link_to category_path(category) do %>
           <%= category.name %>
          <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>

  <div class="row justify-content-center mt-2">
    <%= paginate @categories %>
  </div>

</div>