<%= form_with(model:[post, post_comment]) do |f| %>
  <div class="row">
    <div class="col text-right">
      <%= f.text_area :comment,placeholder: "コメントをここに",class: "form-control",size: "80x5" %>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col text-right">
      <%= f.submit "送信",class:"btn btn-info" %>
    </div>
  </div>
<% end %>